<div class="sidebar bg-color-shark simple-shadow" [class.collapsed]="isCollapsed">
  <div class="d-flex flex-column justify-content-between h-100">
    <div class="d-flex flex-column">
      <ul class="list-unstyled mt-30">
        <li class="d-flex align-items-center justify-content-between py-10 cursor-pointer" [class.overflow-hidden]="isCollapsed" (click)="isCollapsed = !isCollapsed">
          <img src="assets/images/logo.png" alt="logo" *ngIf="!isCollapsed" class="logo"/>
          <a class="d-flex btn-collapse" [class.collapsed]="!isCollapsed">
            <img class="inactive" src="assets/images/admin-sidebar/collapse.svg" alt="collapse">
            <img class="active" src="assets/images/admin-sidebar/collapse-active.svg" alt="collapse">
          </a>
        </li>
      </ul>

      <ul class="list-unstyled overflow-hidden main-menu">
        <li *ngFor="let item of menus" class="d-flex align-items-center py-10" routerLinkActive="active">
          <a class="d-flex align-items-center" [routerLink]="[item.route]" routerLinkActive="active" (click)="isCollapsed = true">
            <img class="inactive" [src]="'assets/images/admin-sidebar/' + item.icon + '.svg'" [alt]="item.label">
            <img class="active" [src]="'assets/images/admin-sidebar/' + item.icon + '-active.svg'" [alt]="item.label">
            <span class="font-12 ml-10">{{ item.label }}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="d-flex flex-column mb-60">
      <div class="connect-btn-wrapper">
        <button class="btn btn-primary btn-circle mb-30 text-overflow my-30 font-8 py-0">{{isCollapsed ? '' : 'CONNECTED: INFINOX LIVE-03'}}</button>
      </div>
      <ul class="list-unstyled">
        <li class="d-flex align-items-center py-10" [class.overflow-hidden]="isCollapsed">
          <a class="d-flex cursor-pointer align-items-center" (click)="logout()">
            <img class="inactive" src="assets/images/admin-sidebar/logout.svg" alt="Log Out">
            <img class="active" src="assets/images/admin-sidebar/logout-active.svg" alt="Log Out">
            <span class="font-12 ml-10">Log Out</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
