<div class="bg-color-shark border-radius-7 simple-shadow p-1 color-mercury">
  <div class="pl-10 font-18">Ask - Bid Trade</div>
  <hr class="w-100 bg-color-mine-shaft m-0"/>
  <div class="p-10" *ngIf="!ordered;">
    <div class="font-weight-light font-12 d-flex justify-content-between align-items-center">
      <span>USD / CAD</span>
      <button class="btn btn-danger text-white btn-mini border-radius-12 py-0 px-20" (click)="tradeClick.emit(null)">Exit</button>
    </div>
    <div class="font-weight-light font-12 d-flex justify-content-between align-items-center mt-1">
      <div class="color-punch d-flex flex-column">
        <span class="font-12">1.30844</span>
        <span class="font-10">LOW: 1.30526</span>
      </div>
      <div class="color-salem d-flex flex-column">
        <span class="font-12">1.30861</span>
        <span class="font-10">LOW: 1.30949</span>
      </div>
      <div class="d-flex flex-column font-10">
        <span>AUTO</span>
        <span>RISK</span>
      </div>
      <div>
        <ui-switch size="small"></ui-switch>
      </div>
    </div>
    <hr class="w-100 bg-color-mine-shaft m-0"/>
    <div class="font-weight-light font-12 d-flex flex-column justify-content-between align-items-center">
      <div class="w-100 d-flex align-items-center justify-content-between">
        <div class="w-50 d-flex justify-content-between align-items-center">
          <span>STOP LOSS</span>
          <button class="btn color-punch btn-mini px-2">-</button>
        </div>
        <div class="w-50 d-flex justify-content-between align-items-center">
          <div class="text-center flex-grow-1">1.29201</div>
          <button class="btn btn-mini px-2 color-salem">+</button>
        </div>
      </div>
      <div class="w-100 d-flex align-items-center justify-content-between">
        <div class="w-50 d-flex justify-content-between align-items-center">
          <span>TAKE PROFIT</span>
          <button class="btn color-punch btn-mini px-2">-</button>
        </div>
        <div class="w-50 d-flex justify-content-between align-items-center">
          <div class="text-center flex-grow-1">1.38234</div>
          <button class="btn btn-mini px-2 color-salem">+</button>
        </div>
      </div>
      <div class="w-100 d-flex align-items-center justify-content-between">
        <div class="w-50 d-flex justify-content-between align-items-center">
          <span>VOLUME</span>
          <button class="btn color-punch btn-mini px-2">-</button>
        </div>
        <div class="w-50 d-flex justify-content-between align-items-center">
          <div class="text-center flex-grow-1">0.05</div>
          <button class="btn btn-mini px-2 color-salem">+</button>
        </div>
      </div>
    </div>
    <hr class="w-100 bg-color-mine-shaft m-0"/>
    <div class="font-weight-light font-12 d-flex flex-column justify-content-between align-items-center">
      <div class="py-1">LIMIT ORDER</div>
      <button class="btn btn-primary btn-mini w-100 py-1" (click)="ordered = true">Buy</button>
    </div>
  </div>

  <div class="p-10" *ngIf="ordered">
    <div class="d-flex flex-column pt-2">
      <span class="font-10">Buy Order #323903 USD / CAD</span>
      <span class="text-primary font-12">YOUR ORDER HAS BEEN PLACED</span>
    </div>
    <hr class="w-100 bg-color-mine-shaft m-0"/>
    <div class="my-2 font-11">
      <div class="d-flex">
        <span class="w-50">ENTRY LEVEL</span><span class="w-50">1.29201</span>
      </div>
      <div class="d-flex">
        <span class="w-50">STOP LOSS</span><span class="w-50">1.29201</span>
      </div>
      <div class="d-flex">
        <span class="w-50">TAKE PROFIT</span><span class="w-50">1.38234</span>
      </div>
      <div class="d-flex">
        <span class="w-50">VOLUME</span><span class="w-50">0.05</span>
      </div>
    </div>
    <hr class="w-100 bg-color-mine-shaft m-0"/>
    <div class="text-center font-12 color-punch">$ - 0.59</div>
    <div class="font-11 text-center mt-1 mb-2">SEE ALL POSITIONS AND ORDERS</div>
    <button class="btn btn-danger py-0 w-100" (click)="tradeClick.emit()">Close</button>
  </div>
</div>
