<div class="bg-color-shark border-radius-7 simple-shadow color-mercury p-10">
  <div class="pl-10 font-18">Risk</div>
  <hr class="w-100 bg-color-mine-shaft m-0"/>
  <div class="p-2 font-weight-light font-12">
    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-between"><span>Balance:&nbsp;</span><span class="color-salem">${{balance}}</span></div>
      <div class="d-flex justify-content-between"><span>Equity:&nbsp;</span><span>${{equity}}</span></div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-between"><span>Free Margin:&nbsp;</span><span>{{freeMargin | number}}</span></div>
      <div class="d-flex justify-content-between"><span>Margin:&nbsp;</span><span>{{margin | number}}</span></div>
    </div>
    <div class="d-flex justify-content-between mt-2">
      <div class="d-flex flex-column justify-content-between">
        <div>
          <span>RISK:&nbsp;</span>
          <select class="border-radius-7 light-border px-10 pt-1 bg-color-shark color-mercury">
            <option *ngFor="let riskOption of riskOptions">{{riskOption}}</option>
          </select>
        </div>
        <div>PROFIT</div>
      </div>
      <div class="d-flex flex-column justify-content-between">
        <span class="border-radius-7 light-border px-20 pt-1">{{riskUsd}}</span>
        <span class="border-radius-7 light-border px-20 pt-1">{{profit}}</span>
      </div>
      <div class="border-radius-7 bg-color-white-opacity px-0 py-5 font-12">
        <div [class.active]="calcMode === CalcMode.Usd" class="cursor-pointer px-2 mx-1 border-radius-5 calc-mode-toggle" (click)="calcMode = CalcMode.Usd">$</div>
        <hr class="w-100 bg-color-mercury my-1"/>
        <div [class.active]="calcMode === CalcMode.Percent" class="cursor-pointer px-2 mx-1 border-radius-5 calc-mode-toggle" (click)="calcMode = CalcMode.Percent">%</div>
      </div>
    </div>
  </div>
</div>
